@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Wix Madefor Text", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 0 !important;
  overflow: visible !important;

}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

button {
  outline: none;
  box-shadow: none;
}